.styles_modal__gNwvD {
    background-color: whitesmoke;
    width: 80%;
    top: 28%;
    height: 310px;
  }
  
  .inputField {
    width: 18%;
      border: none;
      border-bottom: 1px solid
  }
  
  .textStyle{
    font-size: 10px;
  }